@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Aktywne zlecenia</h1>
</div>

<div class="row">
    <div class="col-md-4">
            <div class="panel-body">
                <table class="table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Zlecający:</th>
                        <th>Utworzono:</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: activeRequests">
                        <tr>
                            <td data-bind="text: Requester.Name"></td>
                            <td data-bind="text: CreationDate"></td>
                            <td><button>Przyjmij</button></td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>
</div>